/animacao/nbproject/private/
/animacao/build/
/JavaApplication22/nbproject/private/
/JavaApplication22/build/
/JavaApplication23/nbproject/private/
/JavaApplication23/build/
/tesselationGeometryArray/nbproject/private/
/tesselationGeometryArray/build/
/importObj/nbproject/private/
/importObj/build/
/Luz/nbproject/private/